@using ExpenseManagerLibrary;
@{
    ViewData["isDashboard"] = true;
    
    var totalIncomeWidget = new SummaryWidget("income", "Total Income", ViewBag.TotalIncome);
    var totalExpenseWidget = new SummaryWidget("expense", "Total Expense", ViewBag.TotalExpense);
    var balanceWidget = new SummaryWidget("balance", "Balance", ViewBag.Balance);

    string totalIncomeHtml = totalIncomeWidget.Render();
    string totalExpenseHtml = totalExpenseWidget.Render();
    string balanceHtml = balanceWidget.Render();
}

<h2>Wallet Dashboard</h2>

<div class="container">
    <div class="row mb-4">
        @Html.Raw(totalIncomeHtml) 
        @Html.Raw(totalExpenseHtml)
        @Html.Raw(balanceHtml)
    </div>
</div>



<div class="mb-4">
    <button type="button" class="btn btn-primary me-2" onclick="redirectToCategoryIndex()">Add Category</button>
    <button type="button" class="btn btn-primary" onclick="redirectToTransactionIndex()">Add Transaction</button>
</div>

<script>
    function redirectToCategoryIndex() {
        window.location.href = 'http://localhost:5128/Category/Index';
    }

    function redirectToTransactionIndex() {
        window.location.href = 'http://localhost:5128/Transaction/Index';
    }
</script>
