@model ExpenseManager_TDD.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionID == 0 ? "Create a new Transaction" : "Edit Transaction";
}
<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TransactionID" value="@Model.TransactionID" />

                <div class="mb-3">
                    <label asp-for="Date" class="form-label">Date:</label>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryID" class="form-label">Categories:</label>
                    <select asp-for="CategoryID" class="form-select" aria-label="Default select example">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.CategoryID">@category.TitleWithIcon</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger fs-6"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">Amount:</label>
                    <input asp-for="Amount" type="number" min="0" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Note" class="form-label">Note:</label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Submit" class="@CustomButtonStyles.ButtonStyles.PrimaryButtonClass" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>


